---
import Entry from "../components/Entry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Section from "../components/Section.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="title" content="Alejandro Mayol" />
    <meta name="description" content="Alejandro Mayol's resume" />
    <meta name="viewport" content="width=device-width" />

    <title>Alejandro Mayol Carrión</title>
  </head>
  <body class="max-w-[65ch] mx-auto leading-8 font">
    <main class="space-y-8 px-4 py-8">
      <div class="text-center mb-3">
        <h1 class="text-2xl font-bold mb-1">Alejandro Mayol Carrión</h1>
        <h2 class="text-base">Alicante, Spain</h2>
        <h3 class="text-base">
          <a href="mailto:alexmayolc@gmail.com" class="hover:text-red-500"
            >alexmayolc@gmail.com</a
          >
        </h3>
      </div>
      <Section>
        <SectionTitle title="Working experience" />

        <Entry
          name="2/2022 - today"
          title="Frontend developer"
          subTitle="Job&Talent"
        >
          <p>
            One of my main responsabilities is enabling the company's growth
            through the development of useful internal tools and webapps.
          </p>
          <p>
            I also contribute to the entire frontend ecosystem by developing and
            maintaining an in-house design system library for React and
            different tooling for a micro-frontend architecture.
          </p>
        </Entry>

        <Entry
          name="2/2021 - 2/2022"
          title="Frontend developer"
          subTitle="devaway_"
        >
          <p>
            We worked on fast-paced startups from San Francisco to Brisbane to
            help them develop their MVP and get VC funds.
          </p>
          <p>
            I was able to work on different code bases and learn new
            technologies from my coworkers.
          </p>
        </Entry>
        <Entry
          name="10/2018 - 2/2021"
          title="Full-stack developer"
          subTitle="Conwork"
        >
          <p>
            I developed medium-sized e-commerces using modern front-end tools
            like Vue.js and TailwindCSS. I focused on delivering
            high-performance websites, with beautiful, handmade UIs and
            SEO-friendly.
          </p>
          <p>
            As for pure backend projects, I created several APIs with Lumen
            (PHP) and Deno, and tested them with Postman and Insomnia.
          </p>
          <p>
            I was also the lead developer in charge of modernizing the company's
            tech stack and teaching my workmates how to use and customize tools
            like Webpack, PostCSS, Parcel.js and GitHub Actions for continuous
            delivery purposes.
          </p>
        </Entry>
        <Entry
          name="10/2018 - 2/2021"
          title="Web Accessibility Consultant"
          subTitle="Integratur"
        >
          <p>
            I conducted several accessibility reports to help pointing out major
            flags in websites and build multiple prototypes to show the end
            client that a compliant website with the WCAG 2.0 would look and
            feel the same or even better than their current website.
          </p>
          <p>
            For this purpose, I used Vue.js, making both Single Page
            Applications and Multi Page Applications (with SEO in mind) and we
            tested out multiple approaches on accessible components and user
            interfaces.
          </p>
        </Entry>
        <Entry
          name="06/2017 - 2/2018"
          title="Junior Web Developer"
          subTitle="Datanet Consultores"
        >
          <p>
            Front-end developer in projects built with AngularJS, Angular2+ and
            VueJS. In the backend we used .NET to consume existing Microsoft
            Dynamics apps
          </p>
          <p>
            Among other projects, I created a Mailchimp-like app, a visual
            editor for creating responsive email templates and the intranet for
            cedro.org
          </p>
        </Entry>
      </Section>

      <Section>
        <SectionTitle title="Education" />
        <Entry
          name="2012 - 2016"
          title="Bachelor of Multimedia Engineering"
          subTitle="University of Alicante"
        >
          <p>
            In this degree we learn everything you need to know to become a
            software engineer.
          </p>
          <p>
            We study various programming languages, build web app projects and
            videogames and we are able to develop a real-world project from the
            beginning to its end, learning soft skills along the way, like time
            management and leadership.
          </p>
        </Entry>
      </Section>

      <Section>
        <SectionTitle title="Soft skills" />
        <Entry name="Communication">
          <p>
            I am able to communicate complex ideas in a simple way, both in
            written and spoken form.
          </p>
          <p>
            I consider this specific skill my strongest point, as programming is
            only 20% of the work, and you get nowhere without proper
            communication.
          </p>
        </Entry>
        <Entry name="Mentoring">
          <p>
            I have been a mentor for several junior developers and I have
            learned how to teach them in a way that they can understand and
            apply the knowledge to their work.
          </p>
          <p>This is something I highly enjoy doing and want to keep at it.</p>
        </Entry>
        <Entry name="Ownership">
          <p>
            I am able to take ownership of a project and see it through to the
            end, even if it means working extra hours or learning new
            technologies.
          </p>
          <p>
            I am also able to take ownership of my mistakes and learn from them.
          </p>
        </Entry>
      </Section>

      <div class="justify-center flex flex-row space-x-4">
        <a
          href="https://github.com/AlexMayol"
          target="_blank"
          class="w-6 h-6 text-gray-700"
        >
          <svg
            role="img"
            fill="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>GitHub</title><path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path></svg
          >
        </a>
        <a
          href="https://www.linkedin.com/in/alejandro-mayol-carrion/"
          target="_blank"
          class="w-6 h-6 text-gray-700"
        >
          <svg
            role="img"
            fill="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>LinkedIn</title><path
              d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
            ></path></svg
          >
        </a>
      </div>
    </main>
  </body>
</html>
