---
export interface Props {
  name: string;
  title?: string;
  subTitle?: string;
}

const { name, title, subTitle } = Astro.props;
---

<div class="flex flex-col md:flex-row gap-2">
  <aside class="md:w-32 text-xs md:text-base">{name}</aside>
  <section class="flex-1">
    <div class="divide-solid divide-x-1 text-sm">
      {title && <span class="font-bold">{title}</span>}
      {subTitle && <span>·</span>}
      {subTitle && <span class="italic">{subTitle}</span>}
    </div>
    <div class="space-y-4">
      <slot />
    </div>
  </section>
</div>
